@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Courgette&family=Roboto&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
  /* CSS HSL */
  --argentinian-blue: hsla(206, 74%, 63%, 1);
  --light-sky-blue: hsla(204, 90%, 74%, 1);
  --seasalt: hsla(0, 0%, 98%, 1);
  --naples-yellow: hsla(50, 100%, 68%, 1);
  --cyclamen: hsla(342, 100%, 69%, 1);
}

header {
  border: black 2px solid;
  padding: 1em;
  margin: 5%
}


body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type=text] {
  width: 60%
}

#search-area {
  border: black 2px solid;
  padding: 1.5rem;
  margin-inline: 15%;
  display: flex;
  justify-content: space-between;

}

#weather-container {
  border: black 2px solid;
  padding: 1.5rem;
  margin-inline: 10%;
  margin-block: 2rem
}